name: Build

on: 
  push:
    branches:  
      - '1.19.4'

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Build with Gradle
      run: ./gradlew build '-Pversion=${{ github.run_number }}'
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: DFScript
        path: ./build/libs/DFScript*.jar
    - name: Publish Release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "Build-${{ github.run_number }}"
        prerelease: false
        files: |
          LICENSE
          ./build/libs/DFScript-${{ github.run_number }}.jar
